@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Restaurante Jovem Programador</h1>
    <p>Um ambiente aconchegante com um toque de sofisticação.</a>.</p>
</div>
